@model RoleViewModel
@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Create New Role</h1>

<form asp-action="Create">

   <partial name="PartialViews/_CreateEditPartialView"/>
        <br />

        <input type="submit" class="btn btn-success" /> |
        <a asp-action="Index" class="btn btn-secondary">Back To List </a>
   



</form>
