@model ForgetPasswordViewModel
@{
    ViewData["Title"] = "ForgetPassword";
    Layout = "~/Views/Shared/_AuthLayout.cshtml";
}

<form asp-action="SendEmail">

    <label>enter your email</label>
    <input placeholder="Recovery Email" asp-for="Email"/>
    <span asp-validation-for="Email" class="alert alert-danger"></span>

    <button type="submit">Reset Password</button>



</form>

@section Validation {
    <partial name="_ValidationScriptsPartial" />
}