@model ResetPasswordViewModel
@{
    ViewData["Title"] = "ResetPassword";
    Layout = "~/Views/Shared/_AuthLayout.cshtml";
}
<h3>ResetPassword</h3>
<form asp-action="ResetPassword"> 


    <label>New Password</label>
    <input placeholder="enter your New Password" asp-for=" NewPassword" />
    <span asp-validation-for="NewPassword" class="alert alert-danger"></span>
     
    <label>Confirm New Password</label>
    <input placeholder="Confirm New Password" asp-for=" ConfirmNewPassword" />
    <span asp-validation-for="ConfirmNewPassword" class="alert alert-danger"></span>
     
    <button type="submit">Reset</button>



</form>

@section Validation {
    <partial name="_ValidationScriptsPartial" />
}