@model EmployeeViewModel
@{
    ViewData["Title"] = "Edit";
}

<h1>Edit @Model.Name Employee </h1>
<div asp-validation-summary="All" class="alert-danger"></div> 
<form asp-action="Edit" enctype="multipart/form-data">

    <partial name="PartialViews/_CreateEditPartialView" />


    <input type="submit" value="save" class="btn-primary btn" /> |
    <a asp-action="index" asp-controller="Employee" class="btn btn-light">Back to list </a>

</form>
@section validation{
    <partial name="_ValidationScriptsPartial" />

}